<!-- calling template -->
{% extends "preorder/preorder-layout.html" %}

{% block _pre_order_content_ %}
	<section class="media content-section">
		<div class="media-body">
			<p> Please Select </p>
			<a href="{{ (url_for('pre_order', page='my-orders')) }}" class="btn btn-primary btn-block">My Pre-Orders</a>
			<a href="{{ (url_for('pre_order', page='breakfast')) }}" class="btn btn-success btn-block">Breakfast</a>
			<a href="{{ (url_for('pre_order', page='quarter')) }}" class="btn btn-success btn-block">Quarter</a>
		</div>
	</section>

{% endblock _pre_order_content_ %}