<!-- calling template -->
{% extends "Layout/layout.html" %}


{% block _content_ %}
    <section class="media content-section">
        <div class="media-body">
            <div class="section-metadata">
                <small class="text-muted">So you want spotify?</small>
            </div>
            <h5>So you want spotify?? It will cost £2.</h5>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 70%" src="{{ url_for('static', filename='404.png') }}" alt="Forest-Logo">
            <div style="text-align: center;">
            <div><p><button class="btn btn-success btn-sm" onClick="history.go(-1)" href="#">Click here to send a request to unlock spotify</button></p>
            <p><button class="btn btn-primary btn-sm"><a class="links" style="color: #ffffff" href="{{ url_for('home') }}">Go to the homepage</a></button></p>
            <p><button class="btn btn-primary btn-sm"><a class="links" style="color: #ffffff" href="{{ url_for('redirect_pre_order') }}}">Make a pre-order</a></button></p></div>
        </div>
    </section>
{% endblock _content_ %}