{% extends "Layout/layout.html" %}


{% block _content_ %}


<style>
td, th{
        border-color: black !important;
    }

    {% if highlight[:9] == "breakfast" %}
        .colB{
            font-size: 1.7em;
            background-color: #80a0CC;
            color: #f5f5f5;
        }
    {% elif highlight[:7] == "quarter" %}
        .colQ{
            font-size: 1.7em;
            background-color: #80a0CC;
            color: #f5f5f5;
        }

    {% endif %}

    .colD{
        font-size: 1.5em;
    }

</style>



    <section class="media content-section">
        <div class="media-body"><div class="section-metadata-noline" style="font-size: 1.3em">
            <small class="text-muted">ATS Food Table</small>
        </div>

        <table class="table" style="font-size: 0.6em">
            <thead class="foodTable-head">
            <tr style="font-size: 1.4em">
                <th>Day</th>
                <th>Breakfast</th>
                <th>Quarter</th>
            </tr>
            </thead>
            <tr>
                <th class="colD" scope="row">Monday</th>
                <td class="colB">{{table_data.Breakfast[0]}}</td>
                <td class="colQ">{{table_data.Quarter[0]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Tuesday</th>
                <td class="colB">{{table_data.Breakfast[1]}}</td>
                <td class="colQ">{{table_data.Quarter[1]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Wednesay</th>
                <td class="colB">{{table_data.Breakfast[2]}}</td>
                <td class="colQ">{{table_data.Quarter[2]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Thursday</th>
                <td class="colB">{{table_data.Breakfast[3]}}</td>
                <td class="colQ">{{table_data.Quarter[3]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Friday</th>
                <td class="colB">{{table_data.Breakfast[4]}}</td>
                <td class="colQ">{{table_data.Quarter[4]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Saturday</th>
                <td class="colB">{{table_data.Breakfast[5]}}</td>
                <td class="colQ">{{table_data.Quarter[5]}}</td>
            </tr>
            <tr>
                <th class="colD" scope="row">Sunday</th>
                <td class="colB">{{table_data.Breakfast[6]}}</td>
                <td class="colQ">{{table_data.Quarter[6]}}</td>
            </tr>
        </table>


    </section>
{% endblock _content_ %}