<!-- calling template -->
{% extends "Layout/layout.html" %}


{% block _content_ %}
    <section class="media content-section">
        <div class="media-body">
            <div class="section-metadata">
                <a class="links" href="#">{{ info.day }}</a>
                <small class="text-muted">{{ info.date }}</small>
            </div>
            <h2><a class="section-title"> Good {{ info.TimeOfDay }}! Today's selections are: </a></h2>
            <p class="section-content">Breakfast     -   Bacon roll</p>
            <p class="section-content">Quater Break  -   Pizza slices</p>
            <p class="section-content links"><a href="https://goo.gl/rWmht8" target="_blank" rel="noopener"><span style= "color: #80A0CC;">Click here for lunch menu</span></a></p>
        </div>
    </section>
{% endblock _content_ %}