<!-- calling template -->
{% extends "Layout/layout.html" %}

{% block _content_ %}
	<div class="content-section">
		<form method="POST" action="">
			<fieldset class="form-group">
			<legend class="border-bottom mb-4">Sign In</legend>

				

				<div class="form">
					<div class="col-md-7 mb-1">
	    				<label for="username">Forest email username:</label>
	   					<input type="text" class="form-control" id="username" name="username_signin" placeholder="JAppleseed" required>
	 				</div>
     			</div>
     		

			  	<div class="form">
			  		<div class="col-md-7" style="padding-top: 13px">				
						<label for="PasswordInput" class="form-label">Password</label>
						<input type="password" class="form-control" id="PasswordInput" name="password_signin" placeholder="Password" required>			
					</div>
				</div>

				<div class="checkbox" style="padding-top: 20px; padding-left: 15px">
					<label><input type="checkbox" id="RememberMe" name="RememberMe_signin" checked> Remember me</label>
				</div>



			</fieldset>

			<div class="border-top"></div>
			<div class="form" style="padding-top: 20px">
				<div class="col-md-auto mb-3">
					<button type="submit" class="btn btn-primary">Sign In</button>
				</div>
			</div>
			<h6 class="badge badge-danger">Warning - Log In backend is not complete.</h6>
			<h6 class="badge badge-danger">Log In services will not be available until further notice.</h6>
		</form>
		
	</div>

	

{% endblock _content_ %}
