 body{
  background: #fafafa;
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: #444444;
}


header{
  background: white;
  width: 100%;
  padding: 15px 0;
  color: white;
  text-align: center;
}

nav ul{
  background: #052150;
  overflow: hidden;
  color: white;
  padding: auto;
  text-align: left;
  padding-bottom: 0px;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;


}

nav ul li{
  display: inline-block;
  padding: 15px;
}

nav ul li:hover{
  background-color: #80A0CC;
}


nav a{
  text-decoration: none;
  color: #e8f1ff;
}

nav a:hover{
  text-decoration: none;
  color: white;
}

 
li.right{
  float: right;
  padding-right: 25px;

}

li.rightlast{
  float: right;
  padding-right: 50px;
}



.sidebaritem{
  text-decoration: none!important;
}

.sidebaritem:hover{
  color: black!important;
}

.content-section{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}


.links{
  color: #80A0CC;
  text-decoration: none;
}

a.links:hover{
  color: #80A0CC;
  text-decoration: none;
}


.section-title{
  color: #444444;
}

a.section-title:hover{
  color: #428bca;
  text-decoration: none;
}

.section-content{
  white-space: pre-line;
}

.section-img{
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.section-metadata{
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.section-metadata a:hover{
  color: #333;
  text-decoration: none;
}

.section-svg{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img{
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading{
  font-size: 2.5rem;
}


.nav-handle{
  width: 100%;
  background: #052150;
  text-align: left;
  box-sizing: border-box;
  padding: 14px;
  cursor: pointer;
  font-family: sans-serif;
  padding-left: 50px;
  display: none; 
  color: #e8f1ff;
  position:relative; bottom: 1px;
}






/* using media queries to adjust the site for other devices */
@media screen and (max-width: 790px){
  
  nav ul{
    max-height: 0px;
  }

  .when-showing{
    max-height: 20em;
  }

  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
  }

  .nav-handle{
    display: block;
  }


