{% extends "Layout/layout.html" %}


{% block _head_ %}
{% endblock _head_ %}

{% block _content_ %}
    <section class="media content-section" style="width: 950px;">
        <div class="media-body">

            <table class="table" style="font-size: 0.9em">
                <tr>
                    <th>Item Name</th>
                    <th>Price (p)</th>
                    <th>Change</th>
                </tr>
                <form method="POST" action="">
                    <tr>
                    <th>{{tableData.ItemName}}</th>
                    <th>{{tableData.ItemPrice}}</th>
                    <th><select class="form-control" name="NewItem">
                        <option value="ignore" >No Change</option>
                        {% for item in tableData.allItems %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select></th>

            </table>

                    <br><br><button type = "submit" class="btn btn-warning btn-block" >Save changes</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
        </div>
    </section>
{% endblock _content_ %}