{% extends "Layout/layout.html" %}


{% block _head_ %}
<meta http-equiv="refresh" content="20">
{% endblock _head_ %}

{% block _content_ %}
    <section class="media content-section" style="width: 950px;">
        <div class="media-body">
            <div class="section-metadata-noline">
            <small class="text-muted">Heads up! Page refreshes every 20 seconds</small>
            </div>

            <table class="table" style="font-size: 0.9em">
                <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Price (p)</th>
                    <th>Customer</th>
                    <th>Year</th>
                    <th>Collect Time</th>
                    <th>Collected?</th>
                </tr>

                {% for orders in OrderData.Count %}
                <tr>
                    <th>{{ OrderData.OrderID[orders] }}</th>
                    <th>{{ OrderData.Item_name[orders] }}</th>
                    <th>{{ OrderData.ItemPrice[orders] }}</th>
                    <th>{{ OrderData.UserName[orders] }}</th>
                    <th>{{ OrderData.Year[orders] }}</th>
                    <th>{{ OrderData.TimeFor[orders] }}</th>
                    <th><a href="{{ url_for('complete_order',id=(OrderData.OrderID[orders])) }}"><button class="btn btn-info">Complete</button></a></th>
                </tr>
                {% endfor %}
            </table>

            <br><br><a href="/admin/view-pre-orders/completed/all"><button class="btn btn-warning btn-block" >Day End: Clear Orders</button></a>

        </div>
    </section>
{% endblock _content_ %}