<!-- calling template -->
{% extends "Layout/layout.html" %}

{% block _content_ %}
	<div class="content-section">
		<form method="POST" action="">
			<fieldset class="form-group">
			<legend class="border-bottom mb-4">Sign In</legend>

				

				<div class="form">
					<div class="col-md-7 mb-1">
	    				<label for="Forest_Email_Head">Forest email username:</label>
	   					<input type="text" class="form-control" id="Forest_Email_Head" placeholder="JAppleseed" required>
	 				</div>
     			</div>
     		

			  	<div class="form">
			  		<div class="col-md-7" style="padding-top: 13px">				
						<label for="PasswordInput" class="form-label">Password</label>
						<input type="password" class="form-control" id="PasswordInput" placeholder="Password" required>			
					</div>
				</div>



			</fieldset>
			
			<div class="border-top"></div>
			<div class="form" style="padding-top: 20px">
				<div class="col-md-auto mb-3">
					<button type="submit" class="btn btn-primary">Sign In</button>
				</div>
			</div>
		</form>
		<legend class="badge badge-danger"> Warning - Log In backend is not complete. You are not able to use Log In services until further notice </legend>
	</div>

	

{% endblock _content_ %}
